* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

html {
  /* font-size: 62.5%; */
  /* font-size: 16px; */
}

:root {
  --white-color: #fff;
  --black-color: #000;
  --light-white-color: #f0f0f0;
  --light-gray-color: #e5e5e5;
  --border-color: #ccc;
  --primary-color: #3b82f6;
  --secondary-color: #404040;
  --overlay-dark-color: rgba(0, 0, 0, 0.6);
}

.container {
  padding-inline: 1rem;
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: auto auto;
  height: 100vh;
  background-color: yellowgreen;
}


/* ------------------------- ХЕДЕР -------------------------- */
.header {
  grid-column: span 2;
  background-color: lightskyblue;
}


/* --------------- ПАНЕЛЬ НАВИГАЦИИ --------------- */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 2rem;  /* Когда окно сужается, чтобы элементы не были впритык */
}

.navbar__section {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.navbar__search {
  justify-content: center;
  flex-grow: 1;
}
/* -------------------------------------------------- */



/* ------------ КНОПКИ ------------ */
.button {
  border: none;
  cursor: pointer;
  background: none;
}

.button_rounded {
  border-radius: 50%;
}

.button:hover {
  background-color: var(--light-gray-color)
}

.button__text {  /* Настройка шрифта, т.к. содержимое кнопки - юникод символ */
  font-size: 1.5rem;
  color: var(--black-color);
}

.menu-button {
  width: 40px;
  height: 40px;
}

.voice-search-button {
  width: 40px;
  height: 40px;
}

.theme-button {
  width: 40px;
  height: 40px;
}

.login-button {
  width: 50px;
  height: 50px;
}

.voice-search-button {
  background: var(--light-white-color);
}

.login-button__userpic {
  display: block;
  width: 100%;
  border-radius: 50%;  /* Можно ли сделать так, чтобы картинка закруглялась автоматически, если она в закругленном блоке? */
}
/* ---------------------------------- */


/* ---------- ЛОГОТИП ---------- */
.logo {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  text-decoration: none;
}

.logo__image {
  width: 32px;
}

.logo__text {
  color: var(--black-color);
  font-size: 1.25rem;
}
/* ------------------------------- */



/* ---------- ФОРМА ПОИСКА ---------- */
.search-form {
  display: flex;  /* Форма поиска является флекс-контейнером */
  flex: 1;  /* И одновременно флекс-элементом, т.к. сама лежит внутри флекс-контейнера */
  height: 40px;
  max-width: 550px;
}

.search-form__query-input {
  flex-grow: 1;  /* Растянуть поле запроса на все свободное пространство контейнера (формы поиска) */
  font-size: 1rem;
  outline: none;
  padding: 0 1rem;
  border: 1px solid var(--border-color);
  border-radius: 3.1rem 0 0 3.1rem;
}

.search-form__query-input:focus {
  border-color: var(--primary-color);
}

.search-form__find-button {
  border: 1px solid var(--border-color);
  border-radius: 0 3.1rem 3.1rem 0;
  border-left: 0;
  padding: 0 1.25rem;
  background-color: var(--light-gray-color);
}
/* ------------------------------------- */

/* ------------------ КОНЕЦ ХЕДЕРА -------------------------- */



/* ------------------ ОСНОВНАЯ СЕКЦИЯ ----------------------- */

/* ------------------ САЙДБАР --------------------------------- */
.sidebar {
  /* min-width: 280px; */
  /* background: var(--white-color); */
  background-color: lightpink;
  overflow-y: scroll;
  padding-block: 1rem 3rem;
}

.links-section {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
}

.links-group {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
}

.links-group__title {
  color: var(--black-color);
  font-size: 0.95rem;
  padding: 0.35rem 0;
  font-weight: 600;
}

.link {
  display: flex;
  align-items: center;
  column-gap: 0.75rem;
  text-decoration: none;
  white-space: nowrap;  /* ?ЗАЧЕМ */
  color: var(--black-color);
  font-size: 0.95rem;  /* Для надписи, а не для иконки */
  border-radius: 0.5rem;
  padding: 0.35rem 0.75rem;
}

.link:hover {
  background: var(--light-gray-color);
}

.link__symbol {
  font-size: 1.4rem;
}

.separator {
  height: 1px;
  background: var(--light-gray-color);
}
/* ------------------ КОНЕЦ САЙДБАРА -------------------------- */


/* ---------------------- КОНТЕНТ -------------------------- */
.main-content {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  overflow-y: scroll;
  padding-inline: .75rem;
  background-color: tomato;
  padding-bottom: 3rem;
}

/* -------------- СПИСОК КАТЕГОРИЙ ВИДЕО ------------------- */
/* TODO: сделать, чтобы прокрутка категорий была по колесику. Когда мышка внутри блока категорий, колесико должно листать по горизонтали */
.category-list {
  display: flex;
  column-gap: 0.75rem;
  padding-block: 0.5rem;
  position: sticky;
  top: 0px;
  /* background-color: var(--white-color); */
  background-color: aqua;
  z-index: 100;
}

.category-button {
  flex: none;
  border-radius: 0.5rem;
  padding: 0.4rem 0.75rem;
  font-size: 1rem;
  background: var(--light-gray-color);
}
/* -------------- КОНЕЦ СПИСКА КАТЕГОРИЙ ВИДЕО ------------- */

/* -------------- СПИСОК ВИДЕО ----------------------------- */
.video-list {
  display: grid;
  grid-auto-flow: rows;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
}


/* ----------- КАРТОЧКА ВИДЕО ------------------------------ */
.video-card {
  max-width: 400px;
}

.video-card__thumbnail {
  position: relative;
  text-decoration: none;
}

.video-card__picture {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 0.5rem;
}

.video-card__duration {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 1.25rem;
  color: var(--light-white-color);
  background-color: var(--black-color);
  padding: 0.25rem 0.75rem;
  border-radius: 0.5rem;
}

.video-card__footer {
  display: flex;
  column-gap: 1rem;
}

.video-card__channel-logo {
  width: 36px;
  height: 36px;
  border-radius: 0.5rem;
}

.video-card__info {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.video-card__video-title {
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--black-color);
}

.video-card__channel-name {
  text-decoration: none;
  font-size: 0.875rem;
  color: var(--black-color);
}

.video-card__views {
  font-size: 0.875rem;
}


/* --------------------------------------------------------- */
/* -------------- КОНЕЦ СПИСКА ВИДЕО ----------------------- */

/* ------------------ КОНЕЦ КОНТЕНТ ------------------------ */


/* ------------ КОНЕЦ ОСНОВНОЙ СЕКЦИИ ----------------------- */